<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="container">
        <div class="top-header">Dashboard (Accra)</div>
        <div class="item-container">
            <div class="set1">
                <div class="img-cont">
                    <img class="dash-img" src="/images/salamatu-tinnet-IA7PZFsKhBk-unsplash.jpg" alt="alt" height="100px" width="100%">
                    <p>Soup Bowls</p>
                    <p>4 pieces</p>
                </div>
                <div class="img-cont">
                    <img class="dash-img" src="/images/gwen-mamanoleas-N2ZsTxVBIN4-unsplash.jpg" alt="alt" height="100px" width="100%">
                    <p>Dildos</p>
                    <p>4 pieces</p>
                </div>
            </div>
            <div class="set2">
                <div class="img-cont">
                    <img class="dash-img" src="/images/tom-crew-7HuTGlUfQSo-unsplash.jpg" alt="alt" height="100px" width="100%">
                    <p>Pyrex bowls</p>
                    <p>6 pieces</p>
                </div>
                <div class="img-cont">
                    <div class="add-item"><p>&#x2b;</p></div>
                    <p>Add an item</p>
                </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>