<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/item.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>New Items</title>
</head>
<body>
    <div class="container">
        <div class="top-header">New Item</div>
        <div class="form-container">
            <div class="inner-cont">
                <div>
                    <label for="">Name of Item</label>
                </div>
                <div>
                    <input type="text">
                </div>
            </div>
            <div class="inner-cont">
                <div>
                    <label for="">Picture of Item</label>
                </div>
                <div>
                    <input id="pict" type="text">
                </div>
            </div>
            <div class="inner-cont">
                <div>
                    <label for="">Number of Pieces</label>
                </div>
                <div>
                    <input type="number">
                </div>
            </div>
        </div>
        <div>
            <input id="buttons" type="submit" value="Submit">
        </div>
    </div>
</body>
</html>