.inner-cont{
    margin: 10px 0px 15px 10px;
}
#pict{
    min-height: 100px;
}
.form-container{
    margin-top: 50px;
}
#buttons{
    margin-left: 22%;
    padding: 12px 45px;
    border-style: none;
    background-color: rgba(50, 66, 65, 1);
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .form-container{
        margin: 100px 40px 20px;
    }
    #buttons{
        margin-left: 30%;
        padding: 12px 65px;
        border-style: none;
        background-color: rgba(50, 66, 65, 1);
        color: #fff;
        border-radius: 10px;
    }
    
}