{% extends 'main.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/item.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
    <div class="container">
        <div class="top-header clearfix">
            {% if not item %}
            <p style="display: inline; text-transform: capitalize;">Add Item</p>
            {% else %}
            <p style="display: inline; text-transform: capitalize;">Update <i>{{item.name}}</i></p>
            {% endif %}

            <p style="float: right;"> <a style="color: #fff;" href="{{request.META.HTTP_REFERER}}">&#8592; Back</a></p>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="inner-cont">
                    <div>
                        <label for="">Name of Item</label>
                    </div>
                    <div>
                        {{form.name}}
                    </div>
                </div>
                <div class="inner-cont">
                    <div>
                        <label for="">Picture of Item</label>
                    </div>
                    <div> 
                        {{form.item_img}}
                    </div>
                </div>
                <div class="inner-cont">
                    <div>
                        <label for="">Number of Pieces</label>
                    </div>
                    <div>
                        <!-- <input name="item_quantity" type="number"> -->
                        {{form.quantity}}
                    </div>
                </div>
            </div>
            <div>
                {% if not item %}
                <input id="buttons" type="submit" value="Add Item">
                {% else %}
                <input id="buttons" type="submit" value="Update Item">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}