{% extends 'main.html' %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/item.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
    <div class="container">
        {% include 'menu.html' %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="inner-cont">
                    <div>
                        <label for="">Name of Item</label>
                    </div>
                    <div>
                        <!-- <input name="item_name" type="text"> -->
                        {{form.name}}
                    </div>
                </div>
                <div class="inner-cont">
                    <div>
                        <label for="">Picture of Item</label>
                    </div>
                    <div> 
                        <!-- <input id="pict" type="file" name="item_pic" accept="image/*"> -->
                        {{form.item_img}}
                    </div>
                </div>
                <div class="inner-cont">
                    <div>
                        <label for="">Number of Pieces</label>
                    </div>
                    <div>
                        <!-- <input name="item_quantity" type="number"> -->
                        {{form.quantity}}
                    </div>
                </div>
            </div>
            <div>
                <input id="buttons" type="submit" value="Add Item">
            </div>
        </form>
    </div>
{% endblock content %}