<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/styles/styles.css">
    <link rel="stylesheet" href="/theme/styles/item.css">
    <link rel="stylesheet" href="/theme/styles/login.css">
    <link rel="stylesheet" href="/theme/styles/item-detail.css">
    <title>Item details</title>
</head>
<body>
<div class="container">
    <div class="top-header">pyrex bowls</div>
    <div class="form-container">
        <div class="inner-cont">
            <div class="img-cont">
                <img class="dash-img" src="/theme/images/tom-crew-7HuTGlUfQSo-unsplash.jpg" alt="alt" height="140px" width="100%">
                <!--<p>Soup Bowls</p>-->
               <div class="img-cont-p"><p><b>4 pieces</b></p></div> 
            </div>

        <h3 class="text"><b>Can be found in the Accra House</b></h3>

        <div>
            <input id="button1" type="submit" value="Update this item">
        </div>

        <div>
            <input id="button3" type="submit" value="Delete this item">
        </div>

</div>
    </div>
</div>
</body>