<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inventory</title>
</head>
<body>
    <section class="container">
        <div class="top-header">Inventory</div>
        <p id="head-text">Select your <br> preferred home to <br> add items</p>
        <div class="img-container">
            <div class="img-class">
                <img class="img-item" src="/images/kara-eads-L7EwHkq1B2s-unsplash.jpg" alt="alt" height="80px" width="100%">
                <div class="img-text">ACCRA</div>
            </div>
            <div class="img-class">
                <img class="img-item" src="/images/phil-hearing-IYfp2Ixe9nM-unsplash.jpg" alt="alt" height="80px" width="100%">
                <div class="img-text2">KUMASI</div>
            </div>
            <div class="img-class">
                <img class="img-item" src="/images/sieuwert-otterloo-aren8nutd1Q-unsplash.jpg" alt="alt" height="80px" width="100%">
                <div class="img-text">AKROPONG</div>
            </div>
        </div>
        
        <div style="margin-left: 40px;">
            <input id="search-bar" type="text" placeholder="Search Inventory...">
        </div>
    </section>
</body>
</html>