.inner-cont{
    margin: 10px 0px 15px 10px;
}
#pict{
    min-height: 40px;
    width: 95%;
    padding-top: 15px;
}
.form-container{
    margin-top: 50px;
}
#buttons{
    margin-left: 22%;
    padding: 12px 45px;
    border-style: none;
    background-color: rgba(50, 66, 65, 1);
    color: #fff;
    border-radius: 10px;
}
/*#myFile{
    margin-left: 3%;
    /*padding:12px 45px;
    padding: 10px;
    background-color: rgba(244, 240, 240, 1);
    border-radius: 10px;

}*/
.form-button{
    padding:15px 0px;
    border-radius: 10px;
    background-color: rgba(244, 240, 240, 1);
    border-style: none;
    width: 90%;
    margin: 5px 0px 55px;
    margin-left: 3px;
    padding-left: 10px;
   
    
}
.inner-cont1{
    margin: 0px 0px 0px 0px;;
}


@media only screen and (max-width: 600px){
    .form-container{
        margin: 100px 40px 20px;
    }
    #buttons{
        margin-left: 23%;
        padding: 12px 65px;
        border-style: none;
        background-color: rgba(50, 66, 65, 1);
        color: #fff;
        border-radius: 10px;
    }
    .inner-cont{
        margin: 10px 0px 10px 0px;
    }
    
}