@media only screen and (max-width: 600px)
{
    .dash-img{
        width: 95%;
        box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);

        
        border-radius: 20px;
    }
    .img-cont{
        margin-top: 100px;
        padding: 0px 20px;
        margin-left: 10px;
    }
    .img-cont-p{
        text-align: center;
        margin-top: 5px;
       
    }
    .text{
        padding: 20px;
        text-align: center;
        margin-top: 20px;
    }
    #button1{
        
        padding: 12px 30px;
        border-style: none;
        background-color: #298A27;
        color: #fff;
        border-radius: 10px;
        margin-right: 30px;
    }
    #button3{
        padding: 12px 20px;
        border-style: none;
        background-color: #F50909;
        color: #fff;
        border-radius: 10px;
    }
    .button-container{
        margin-left: 19%;
        margin-top: 15px;
    }
    .delete-container{
        margin-top: 100px;
        align-items: center;
        padding:10px 30px
    }
    .delete-container p{
        text-align: center;
    }
}