.text-container{
    position: absolute;
    padding: 40px 26.1px 25px 27px;
    z-index: 99;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.img-class{
    position: relative;
    z-index: 0;
    margin-bottom: -50px;
}
.text-container h2{
    font-weight: bolder;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 30px;
}
input[type = text], input[type = password], input[type = number], input[type = file]{
    padding:12px 0px 8px 15px;
    border-radius: 10px;
    background-color: rgba(244, 240, 240, 1);
    border-style: none;
    width: 90%;
    margin: 5px 0px 18px;
}
input[type = file]{
    min-height: 40px;
    width: 95%;
    padding-top: 15px;
}
.text-container label{
    font-weight: normal;
}

#button{
    margin: 15px 37px;
    padding: 12px 45px;
    border-style: none;
    background-color: rgba(50, 66, 65, 1);
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width:600px){

    .text-container{
        left: 0px;
        right: 0px;
        padding: 40px 40px;
    }
    .img-class{
        margin-bottom: -45px;
    }
    input[type = text], input[type = password], input[type = number]{
        padding:15px;
        font-size: large;
        border-radius: 10px;
        background-color: rgba(244, 240, 240, 1);
        border-style: none;
        width: 90%;
        margin: 5px 0px 55px;
    }
    #button{
        margin-left: 19%;
        padding: 12px 65px;
        border-style: none;
        background-color: rgba(50, 66, 65, 1);
        color: #fff;
        border-radius: 10px;
       
    }
    /* 
   
    .text-container h2{
        font-weight: bolder;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 30px;
    }
    
    .text-container label{
        font-weight: normal;
    }
    
     */
}